<div class="container bg-secondary bg-gradient rounded" style="--bs-bg-opacity: .4; border-style: dashed;">
    <div class="row row-cols-sm-2 row-cols-md-6 gy-2 py-4">
        <div class="">
            <label for="Code_product" class="form-label">Code product</label>
            <input type="number" class="form-control" name="Code product" id="Code product" placeholder="Enter Code">
        </div>
        <div class="">
            <label for="Name_product" class="form-label">Name product</label>
            <input type="number" class="form-control" name="Name_product" id="Name_product" placeholder="Enter name">
        </div>
        <div class="">
            <label for="Acount" class="form-label">Acount</label>
            <input type="number" class="form-control" name="Acount" id="Acount" placeholder="Enter acount">
        </div>
        <div class="">
            <label for="Unit_value" class="form-label">Unit value</label>
            <input type="number" class="form-control" name="Unit_value" id="Unit_value" placeholder="Enter value">
        </div>
    </div>
</div>