<div class="container bg-secondary bg-gradient rounded overflow-auto" style="--bs-bg-opacity: .4; border-style: dashed; height: 250px;">
    <my-product-details></my-product-details>
    
</div>
<div class="container g-0">
    <div class="row row-cols-sm-3 mt-3">
        <div>
            <button type="button" class="btn w-100 btn-lg btn-outline-info">Send</button>
        </div>
        <div>
            <button type="button" class="btn w-100 btn-lg btn-outline-secondary">Details</button>
        </div>
        <div>
            <button type="button" id="Add" class="btn w-100 btn-lg btn-outline-warning">Add</button>
        </div>
    </div>
</div>