<h1 class="text-center text-white">Hunters billing system</h1>
<div class="container bg-secondary bg-gradient rounded my-4" style="--bs-bg-opacity: .4; border-style: dashed;">
    <div class="row cols-1 cols-sm-2 gy-2 py-4 text-secondary">
        <div class="col-md-12 text-center"><h2>Header bill</h2></div>
        <div class="col-md-4">
            <label for="N_Bill" class="form-label">Nro bill</label>
            <input type="number" class="form-control" name="N_Bill" id="N_Bill" placeholder="Type the bill's number">
        </div>
        <div class="col-md-4">
            <label for="Bill_Date" class="form-label">Bill Date</label>
            <input type="date" class="form-control" name="Bill_Date" id="Bill_Date" placeholder="Type to number bill">
        </div>
        <div class="col-md-4">
            <label for="Seller" class="form-label">Seller</label>
            <input type="text" class="form-control" name="Seller" id="Seller" placeholder="Type the seller's name">
        </div>

        <div class="col-md-4">
            <label for="Identification" class="form-label">ID customers</label>
            <input type="number" class="form-control" name="Identification" id="Identification" placeholder="Type the customer's ID">
        </div>
        <div class="col-md-4">
            <label for="Full_name" class="form-label">Full name</label>
            <input type="text" class="form-control" name="Full_name" id="Full_name" placeholder="Type the full name">
        </div>
        <div class="col-md-4">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" name="Email" id="Email" placeholder="Type the email">
        </div>
        <div class="col-md-4">
            <label for="Address" class="form-label">Address</label>
            <input type="text" class="form-control" name="Address" id="Address" placeholder="Type the address">
        </div>
        <div class="col-md-4">
            <label for="Phone" class="form-label">Phone</label>
            <input type="tel" class="form-control" name="Phone" id="Phone" placeholder="Type the phone">
        </div>
    </div>
</div>